.movement-type {
    width: 100%;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
}

.movement-expense {
    background: rgb(245, 115, 115);
}

.movement-deposit {
    background: rgb(121, 216, 121);
}

.movement-row {
    border: 1px solid grey;
    padding: 5px;
}

.first-row {
    border-radius: 4px 4px 0px 0px;
}



img {
    cursor: pointer;
}