.xform {
    border: 1px solid black;
    border-radius: 8px;
}

.xheader {
    background: #D5D5D5;
    border-radius: 8px 8px 0px 0px;
    padding: 5px;
    font-weight: bold;
    position: relative;
}

.xbody {
    padding: 5px;
}

.notification {
    color: #FFFFFF;
    background-color:cornflowerblue;
    border-radius: 10px;
    width: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    /*padding: 5px;*/
}

.color{
    background-color:rgb(255, 255, 255);  
    border: 0.1px solid rgb(250, 250, 250);
}
